/*
Error: Invalid CSS after "0": expected expression (e.g. 1px, bold), was ";"
        on line 6 of sass/app.sass

1: html,
2: body,
3: ul,
4: ol {
5:   margin: 0 1px
6:   padding: 0;
7: }

Backtrace:
sass/app.sass:6
/Users/noah/.rvm/gems/ruby-2.3.0/gems/sass-3.4.23/lib/sass/scss/parser.rb:1207:in `expected'
/Users/noah/.rvm/gems/ruby-2.3.0/gems/sass-3.4.23/lib/sass/script/lexer.rb:229:in `expected!'
/Users/noah/.rvm/gems/ruby-2.3.0/gems/sass-3.4.23/lib/sass/script/parser.rb:744:in `assert_done'
/Users/noah/.rvm/gems/ruby-2.3.0/gems/sass-3.4.23/lib/sass/script/parser.rb:76:in `parse'
/Users/noah/.rvm/gems/ruby-2.3.0/gems/sass-3.4.23/lib/sass/script/parser.rb:240:in `parse'
/Users/noah/.rvm/gems/ruby-2.3.0/gems/sass-3.4.23/lib/sass/script.rb:27:in `parse'
/Users/noah/.rvm/gems/ruby-2.3.0/gems/sass-3.4.23/lib/sass/engine.rb:1151:in `parse_script'
/Users/noah/.rvm/gems/ruby-2.3.0/gems/sass-3.4.23/lib/sass/engine.rb:721:in `parse_property'
/Users/noah/.rvm/gems/ruby-2.3.0/gems/sass-3.4.23/lib/sass/engine.rb:692:in `parse_property_or_rule'
/Users/noah/.rvm/gems/ruby-2.3.0/gems/sass-3.4.23/lib/sass/engine.rb:658:in `parse_line'
/Users/noah/.rvm/gems/ruby-2.3.0/gems/sass-3.4.23/lib/sass/engine.rb:536:in `build_tree'
/Users/noah/.rvm/gems/ruby-2.3.0/gems/sass-3.4.23/lib/sass/engine.rb:555:in `block in append_children'
/Users/noah/.rvm/gems/ruby-2.3.0/gems/sass-3.4.23/lib/sass/engine.rb:554:in `each'
/Users/noah/.rvm/gems/ruby-2.3.0/gems/sass-3.4.23/lib/sass/engine.rb:554:in `append_children'
/Users/noah/.rvm/gems/ruby-2.3.0/gems/sass-3.4.23/lib/sass/engine.rb:545:in `block in build_tree'
/Users/noah/.rvm/gems/ruby-2.3.0/gems/sass-3.4.23/lib/sass/engine.rb:538:in `each'
/Users/noah/.rvm/gems/ruby-2.3.0/gems/sass-3.4.23/lib/sass/engine.rb:538:in `build_tree'
/Users/noah/.rvm/gems/ruby-2.3.0/gems/sass-3.4.23/lib/sass/engine.rb:555:in `block in append_children'
/Users/noah/.rvm/gems/ruby-2.3.0/gems/sass-3.4.23/lib/sass/engine.rb:554:in `each'
/Users/noah/.rvm/gems/ruby-2.3.0/gems/sass-3.4.23/lib/sass/engine.rb:554:in `append_children'
/Users/noah/.rvm/gems/ruby-2.3.0/gems/sass-3.4.23/lib/sass/engine.rb:409:in `_to_tree'
/Users/noah/.rvm/gems/ruby-2.3.0/gems/sass-3.4.23/lib/sass/engine.rb:381:in `_render_with_sourcemap'
/Users/noah/.rvm/gems/ruby-2.3.0/gems/sass-3.4.23/lib/sass/engine.rb:298:in `render_with_sourcemap'
/Users/noah/.rvm/gems/ruby-2.3.0/gems/sass-3.4.23/lib/sass/exec/sass_scss.rb:391:in `run'
/Users/noah/.rvm/gems/ruby-2.3.0/gems/sass-3.4.23/lib/sass/exec/sass_scss.rb:63:in `process_result'
/Users/noah/.rvm/gems/ruby-2.3.0/gems/sass-3.4.23/lib/sass/exec/base.rb:52:in `parse'
/Users/noah/.rvm/gems/ruby-2.3.0/gems/sass-3.4.23/lib/sass/exec/base.rb:19:in `parse!'
/Users/noah/.rvm/gems/ruby-2.3.0/gems/sass-3.4.23/bin/sass:13:in `<top (required)>'
/Users/noah/.rvm/gems/ruby-2.3.0/bin/sass:22:in `load'
/Users/noah/.rvm/gems/ruby-2.3.0/bin/sass:22:in `<main>'
/Users/noah/.rvm/gems/ruby-2.3.0/bin/ruby_executable_hooks:15:in `eval'
/Users/noah/.rvm/gems/ruby-2.3.0/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"0\": expected expression (e.g. 1px, bold), was \";\"\A         on line 6 of sass/app.sass\A \A 1: html,\A 2: body,\A 3: ul,\A 4: ol {\A 5:   margin: 0 1px\A 6:   padding: 0;\A 7: }"; }
